{
    "token": "bottoken",
    "clientId": "applicationid",
    "guildId": "developmentguildid",
    "yt_credentials": "output from npx command"
    "lastfm_api_key": "",
    "lastfm_api_secret": ""
}